.DS_Store
desktop.ini
Thumbs.db
node_modules
.idea
*.pyc
.vscode
*.lock.json
*.zwc
kitty.conf.bak
lazy-lock.json
user-dirs.locale
current-theme.conf*
home/config/kitty/current-theme.conf
home/config/ghostty/themes
